{% extends "base.html" %}

{% block content %}
{% load static %}


<!--parts section-->

<section class="parts" id="parts" style="margin-top: 3rem; margin-bottom: 20rem;">
    <div class="heading">
        <span>Ce que nous offrons</span>
        <h2>Nos vehicules sont toujours excellent</h2>
        <p>Des pièces détachées pour voitures sont également disponibles à l’achat.</p>
    </div>
    <!--parts container-->
    <div class="parts-container container" style="margin-top: 70px;">
        
        {% for partsAuto in partsAutos %}

            <div class="box">
                <img src="{{ partsAuto.photo.url }}" alt="">
                <h3> {{ partsAuto.nom }} </h3>
                <span> {{ partsAuto.prix }} </span>
                <i class='bx bxs-star'>(6 avis)</i>
                <a href="#" class="btn achat-piece">Acheter Maintenant</a>
                <a href="{% url 'car:pieces_details' partsAuto.id %}" class="details">Voir les details</a>
            </div>

        {% endfor %}

    </div>
</section>

{% endblock content %}